@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Staatliches');

.introBox{
    height: 200px;
    background-color: $dark-olive-green;
    font-family: Staatliches, cursive;
    text-align: center;

     p {
        margin: 0 auto;
        font-size: 100px;
        letter-spacing: 14px;
        color: $cornsilk;
        padding-top: 2.5%;
     }
    }
    @media (min-width: $mobile-sm) and (max-width: $mobile){
    .introBox{
        height:100px;
        width: 100%;
        letter-spacing: 10px;
        text-align: center;
        padding-top: 31px;
        p {
            font-size:24px;
        }
    }
}
