@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Staatliches');

.introBox{
    height: 200px;
    background-color: $dark-olive-green;
    font-family: Staatliches, cursive;
    text-align: center;

     p {
        margin: 0 auto;
        font-size: 100px;
        letter-spacing: 14px;
        color: $cornsilk;
        padding-top: 2.5%;
     }
    }
@media screen and (max-width: $mobile) and (min-width: $mobile-sm){
    .introBox{
        height:100px;
        width: 100%;
        font-size:25px;
        padding-bottom:4px;
        letter-spacing: 10px;
        text-align: center;
    }
}
