
// COLORS
$color1: rgba(15, 42, 68, 1);
$color2: rgba(45, 8, 10, 1);
$color3: rgba(124, 54, 38, 1);
$color4: rgba(245, 133, 63, 1);
$color5: rgba(255, 205, 188, 1);


// FONTS


$font-family: 'Staatliches', cursive;
$font-family: 'Titillium Web', sans-serif;
$font-family: 'Fondamento', cursive;
$font-family: 'Mirza', cursive;
$font-family: 'Yatra One', cursive;

// SCREEN SIZES
$desktop-lg: 1200px;
$desktop: 960px;
$desktop-sm: 810px;
$tablet: 700px;
$ipad: 760px;
// $ipad-pro: 
$mobile: 500px;
$mobile-sm: 320px;


$tallPhoto: url('../tallPhoto.jpg');
