@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Fondamento|Mirza|Staatliches|Titillium+Web|Yatra+One');



.containerFour {
    position: relative;
    flex-flow: row;

 .projectTitle-div {
    width: 100%;
    height: 80px;
    color: $color3;
    font-family: Staatliches, Times;
    letter-spacing: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom:10px;
    p{
        font-size: 40px;

    }
 }
 .projectDiv {

     justify-content: center;
     text-align: center;
     display: flex;
     font-family: Titillium Web;

    div {
        h3{
            letter-spacing: 3px;
             font-family:Mirza, cursive;
        }
        
        width: 300px;
        height: 300px;
        color:white;
        font-family:Titillium Web, cursive;
        background-color: $color2;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 15px;
        box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

    }
 }

 @media screen and (max-width: $mobile) and (max-width: $tablet) {
        
     .projectDiv{
         display: block;

     }
     .projectTitle-div{
        margin-bottom:15px;
     }

 }
}
// @media screen and (max-width: $ipad){
//     .projectDiv{
//     justify-content: center;
//      text-align: center;
//      display: flex;

//      div {
//         h3{
//             letter-spacing: 3px;
//              font-family:Mirza, cursive;
//         }
        
//         width: 300px;
//         height: 300px;
//         color:white;
//         font-family:Titillium Web, cursive;
//         background-color: $color2;
//         display: inline-block;
//         margin-right: 10px;
//         margin-left: 10px;
//         margin-top: 15px;
//         box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

//     }


//     }
// }


