@import url('https://fonts.googleapis.com/css?family=Fondamento|Mirza|Staatliches|Titillium+Web|Yatra+One');
@import '../../styles/variables';


.container-box {
  display:flex;
  justify-content: center;
  }
  .paintings{
    margin: auto;
    width: 87%; 

    img {
      width: 325px;
      height: 500px;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: 10px;
    }
  
  }