@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Fondamento|Mirza|Staatliches|Titillium+Web|Yatra+One');


.containerOne {
    position: relative;
    margin-top: 10px;
    height:35em;
    display: flex;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;

    .photos-container{
      width:50%;
    }
    
    .selfieOfMyself {
    float: left;
    width:300px;
    height:400px;
    margin-left: 47%;
    margin-top:50px;
    margin-bottom: 20px;
    padding-right: 8px;
    position: relative;
    top: 0;
    left: 0;
    }
    .polly {
      position: absolute;
      height: 250px;
      height: 300px;
      top: 240px;
      left:161px;
    }
}

.bioResponse {
  overflow: auto;
  width:50%;
  h2 {
    font-size: 30px;
    font-family: Staatliches, Times;
    letter-spacing: 10px;
    color: $dark-olive-green;
    // background-color: pink;
    width: 400px;
  }
  .containerPar {
    height: 300px;
    width: 85%;
    border-left-color: $scarlet;
    margin-left:10px;
    border-width: 3px;
    margin-top:3px;
    font-family: Titillium Web;
    color: $color5;
    border-left-style: solid;
    p{
      margin-left: 20px;
    }
  }
}

@media (max-width: $ipad) and (min-width: $mobile-sm){
  .containerOne {
    display: flex;
    margin: 0 auto;
    margin-top: 26px;

    .photos-container{
      width: 100%;
      height: auto;

      .polly{
        display: none;
        float:none;
      }

      .selfieOfMyself{
        display:block;
        float:none;
        margin-left:auto;
        margin-right: auto;

      }
    }
  }
  .bioResponse{
    width:100%;
    margin: 0 auto;
    h2 {
      width: 100%;
    }
    .containerPar {
      position:block;
      margin: 0 auto;
      overflow: none;
      height: auto;
    
        }
      
  }
  .containerFive {
    margin-top: 10px;
    .scrollImage {
      width: 100%;
      margin-top: 35em;
      height: 300px;
      // background-attachment: fixed;
    }
  }
  
}


