@import url('https://fonts.googleapis.com/css?family=Fondamento|Mirza|Staatliches|Titillium+Web|Yatra+One');
@import '../../styles/variables';

.scrollImage {
   background-image: url('../.././images/tallPhoto.jpg');
   height:400px;
   margin-top:30px;

   background-attachment:fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.contact-InfoDiv {
    height:50px;
    color:$color5;
    font-size: 40px;
    font-family:Staatliches, Times;
    letter-spacing: 5px;
    text-align: center;
    padding: 2%;

}

.whereToFind {
    width:100%;
    text-align: center;
   .find{
        font-size: 40px;
        font-family:Yatra One;
        text-align:center;
        letter-spacing: 5px;
        color: $sinopia;
   }

    .email {
        height:60px;
        font-size: 25px;
        letter-spacing: 4px;
        font-family: Yatra One;
        color: $color3;
        font-size: 40px;
        text-align: center;

    }
    .linkedIn {
        height:60px;
        font-size:25px;
        color: $color3;
        letter-spacing: 3px;
        width: 100%;
        font-size: 40px;
        font-family:Yatra One;
        text-align: center;

    }
    .github{
        height:60px;
        padding-bottom: 70px;
        font-size:25px;
        color: $color3;
        letter-spacing: 3px;
        width: 100%;
        font-size: 40px;
        font-family:Yatra One;
        text-align: center;

    }
}
@media screen and (max-width: $mobile) and (min-width: $mobile-sm)
    {
    .scrollImage{
        margin-top:221px;
        height:300px;
     }
     .whereToFind{

        .contact-InfoDiv{
            font-size: 10px;
        }
        
        .find{
            margin-top: 30px;
            width:100%;
        }
        .linkedIn{
            // margin-top: 2px;
            height: 100px;
            font-size:30px;
        }
        .email {
            margin-top: 15px;
            height: 30px;
            font-size:30px;
    
        }
        .github{
            // background-color:blue;
            height: 30px;
            margin-bottom:50px;
            font-size:30px;
        }
    }
    
}

@media screen and (max-width: $ipad) {
    .scrollImage{
        margin-top:none;
        background-attachment: scroll;
        background-image: repeating;
     }
    

    .whereToFind{

    .contact-InfoDiv{
        font-size: 30px;
    }
    
    .find{
        margin-top: 70px;
        width:100%;
    }
    .linkedIn{
        // margin-top: 2px;
        height: 100px;
        font-size:30px;
    }
    .email {
        margin-top: 15px;
        height: 30px;
        font-size:30px;

    }
    .github{
        // background-color:blue;
        height: 30px;
        margin-bottom:50px;
        font-size:30px;



    }
}
}
