@import url('https://fonts.googleapis.com/css?family=Fondamento|Mirza|Staatliches|Titillium+Web|Yatra+One');
@import '../../styles/variables';

.scrollImage {
   background-image: url('../.././images/tallPhoto.jpg');
   height:400px;

   background-attachment:fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.contact-InfoDiv {
    width:100%;
    height:50px;
    // background-color : $color2;
    color:$color5;
    font-size: 40px;
    font-family:Staatliches, Times;
    letter-spacing: 5px;
    text-align: center;

}

.whereToFind {
    width:100%;
   .find{
        font-size: 40px;
        font-family:Yatra One;
        text-align:center;
        letter-spacing: 5px;
        color: $color1;
   }

    .email {
        display: relative;
        width: 100%;
        height:60px;
        float:left;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        letter-spacing: 4px;
        font-family: Yatra One;
        color: $color3;
        font-size: 40px;
        // background-color:blue;
        margin-top: 2px;

    }
    .linkedIn {
        height:60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:25px;
        color: $color3;
        letter-spacing: 3px;
        width: 100%;
        font-size: 40px;

        // background-color: purple;
        font-family:Yatra One;
    }
    .github{
        height:60px;
        padding-bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:25px;
        color: $color3;
        letter-spacing: 3px;
        width: 100%;
        font-size: 40px;


        // background-color:green;
        font-family:Yatra One;
    }
}
@media screen and (max-width: $mobile){
    .whereToFind{

    .contact-InfoDiv{
        font-size: 30px;
    }
    
    .find{
        margin-top: 70px;
        width:100%;
    }
    .linkedIn{
        // margin-top: 2px;
        height: 100px;
        font-size:30px;
    }
    .email {
        margin-top: 15px;
        height: 30px;
        font-size:30px;

    }
    .github{
        // background-color:blue;
        height: 30px;
        margin-bottom:50px;
        font-size:30px;



    }
}
}